#navbar {
    padding: 0.3rem 2.5rem;
    font-weight: bold;
}
#logo{
    width: 6%;
}
#carousel-slide {
    background-color: black;
}

#intro {
    background-color: indianred;
    color: white;
    padding: 70px 10% 30px;
}

#intro-btn {
    margin: 2% 0;
}
#services {
    margin: 100px;
}

#Our-Products {
    background-color: indianred;
    color: white;
    padding: 7% 10%
}

#Products-img {
    width: 17%;
    float: right;
    margin-left: 30px;
    margin-right: 7%;
    border-color: whitesmoke;
    border-style: solid;
    border-width: 3px;
}

#product-list {
    font-size: large;
    line-height: 2.5;
}

#product-btn {
    background-color: indianred;
    padding-bottom: 5%;
}

.service-block {
    padding: 30px;
}

body {
    background-color: aliceblue;
    text-align: center;
    font-family: Montserrat;
}

h1{
    font-weight: bold;
    line-height: 1.5;
}

ul {
    text-align: left;
}