#navbar {
    padding: 0.3rem 2.5rem;
    font-weight: bold;
}
#logo{
    width: 6%;
}
#carousel-slide {
    background-color: black;
}

#intro {
    background-color: #CF0A0A;
    color: white;
    padding: 70px 10% 30px;
}

#intro-btn {
    margin: 2% 0;
    border-width: 3px;
}

#prd-btn {
    border-width: 3px;
}
#services {
    margin: 100px;
}

#Our-Products {
    background-color: #CF0A0A;
    color: white;
    padding: 7% 15%;
}

#Our-Products a {
    margin: 50px 25%;
    text-align: center;
}

#Products-img {
    width: 300px;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    border-radius: 5%;
    margin: auto 25%;
}

#product-list {
    font-size: large;
    font-weight: 400;
    line-height: 1.5;
    padding-top: 10px;
}

#footer {
    padding: 3% 20px 0;
    background-color:black;
    color: white;
}

#india {
    width: 200px;
}

#copyright {
    font-size: small;
}

.Heading {
    background-color: indianred;
    color: white;
    padding: 3% 15%;
}

.content-style {
    padding: 1% 10%;
    font-weight: normal;
    line-height: 1.5;
}

.service {
    padding: 1% 10%;
    font-weight: bold;
    color: indianred;
}

.line-pad {
    margin: 1% 0;
    color: indianred;
}

.service-block {
    padding: 30px 10px;
    margin: 15px;
    border-width: 3px;
    border-style: solid;
    border-color: indianred;
    border-radius: 25px;
}

.social-icon {
    margin: 20px 10px;
}

.portfolio {
    width: 18rem;
    margin: 10px;
}

.img-team01 {
    width: 500px;
    margin: 5px;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: indianred;
}

.img-pad1 {
    margin: 5%;
    width: 500px;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: indianred;
}

.img-pad2 {
    margin: 5%;
    width: 350px;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: indianred;
}

.product-img {
    width: 450px;
    margin: 20px;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: indianred;
}

.product-img01 {
    width: 300px;
    margin: 20px;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: indianred;
}

.text-fix {
    margin-top: 60px;
    line-height: 1.2;
}

.suc-row1 {
    padding: 7% 1%;
}

.suc-row1 p {
    padding: 0 15%;
    text-align: center;
}

.suc-img {
    width: 500px;
    height: 300px;
    margin: 20px;
    border-radius: 30px;
    border-width: 5px;
    border-style: solid;
    border-color: indianred;
}

.suc-img-1 {
    width: 500px;
    height: 300px;
    margin: 20px;
    border-radius: 30px;
    border-width: 5px;
    border-style: solid;
    border-color: indianred;
}

.suc-img1 {
    width: 200px;
    height: 300px;
    margin: 20px;
    border-radius: 30px;
    border-width: 5px;
    border-style: solid;
    border-color: indianred;;
}

.suc-img2 {
    width: 300px;
    height: 300px;
    margin: 20px;
    border-radius: 30px;
    border-width: 5px;
    border-style: solid;
    border-color: indianred;
}

.contact {
    line-height: 0.7;
}

.copyright {
    margin-bottom: 3px;
    font-size: small;
}


.img-size1 {
    width: 700px;
    height: 300px;
    margin: 20px;
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: indianred;
}

.img-size2 {
    width: 350px;
    height: 300px;
    margin: 20px;
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: indianred;
}

.img-size3 {
    width: 350px;
    height: 300px;
    margin: 20px;
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: indianred;
}

.img-size4 {
    width: 700px;
    height: 350px;
    margin: 20px;
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: indianred;
}

.img-size5 {
    width: 700px;
    height: 350px;
    margin: 20px;
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: indianred;
}

.img-size6 {
    width: 900px;
    height: 300px;
    margin: 20px;
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: indianred;
}

.img-size7 {
    width: 400px;
    height: 300px;
    margin: 20px;
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: indianred;
}

.img-size8 {
    width: 350px;
    height: 350px;
    margin: 20px;
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: indianred;
}

.img-size9 {
    width: 350px;
    height: 350px;
    margin: 20px;
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: indianred;
}

.img-size10 {
    width: 350px;
    height: 350px;
    margin: 20px;
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: indianred;
}

.img-size11 {
    width: 350px;
    height: 350px;
    margin: 20px;
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: indianred;
}

.img-size12 {
    width: 250px;
    height: 500px;
    margin: 20px;
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: indianred;
}

.img-size13 {
    width: 250px;
    height: 500px;
    margin: 20px;
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: indianred;
}

.img-size14 {
    width:320px;
    height: 500px;
    margin: 20px;
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: indianred;
}

    /* Gallery */

    .close {
        font-size: 1.5rem;
      }
      
      .col-12 img {
        opacity: 0.7;
        cursor: pointer;
        margin: 2rem;
        width: 100%;
      }
      
      .col-12 img:hover {
        opacity: 1;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }


      /* cssbox_full */
div.cssbox {
    display: inline-block;
  }
  
  span.cssbox_full {
    z-index: 999999;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    cursor: default;
    transition: opacity 0.5s linear;
  }
  
  span.cssbox_full img {
    position: fixed;
    background-color: white;
    margin: 0;
    padding: 0;
    max-height: 90%;
    max-width: 90%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px black;
  }
  
  a.cssbox_close,
  a.cssbox_prev,
  a.cssbox_next {
    z-index: 999999;
    position: fixed;
    text-decoration: none;
    visibility: hidden;
    color: white;
    font-size: 36px;
  }
  
  a.cssbox_close {
    top: 1%;
    right: 1%
  }
  
  a.cssbox_close::after {
    content: '\00d7';
  }
  
  a.cssbox_prev,
  a.cssbox_next {
    top: 50%;
    transform: translate(0%, -50%);
  }
  
  a.cssbox_prev {
    left: 5%;
  }
  
  a.cssbox_next {
    right: 5%;
  }
  
  a:target ~ a.cssbox_close,
  a:target ~ a.cssbox_prev,
  a:target ~ a.cssbox_next {
    visibility: visible;
  }
  
  a:target > img.cssbox_thumb + span.cssbox_full {
    visibility: visible;
    opacity: 1;
    pointer-events: initial;
  }
  /* This is the end of CSSBox */

body {
    background-color: white;
    text-align: center;
    font-family: Montserrat;
}

h1{
    font-weight: bold;
    line-height: 0.5;
}

h5 {
    line-height: 1.8;
}

ul {
    text-align: left;
}