#navbar {
    padding: 0.3rem 2.5rem;
    font-weight: bold;
}
#logo{
    width: 6%;
}
#carousel-slide {
    background-color: black;
}

#intro {
    background-color: indianred;
    color: white;
    padding: 70px 10% 30px;
}

#intro-btn {
    margin: 2% 0;
}
#services {
    margin: 100px;
}

#Our-Products {
    background-color: indianred;
    color: white;
    padding: 7% 10% 7% 5%;
}

#Products-img {
    width: 250px;
    float: right;
    margin-left: 50px;
    margin-right: 5%;
    border-color: whitesmoke;
    border-style: solid;
    border-width: 3px;
}

#product-list {
    font-size: large;
    font-weight: 400;
    line-height: 2.5;
}

#product-btn {
    background-color: indianred;
    padding-bottom: 5%;
}

#footer {
    margin: 3% 15% 0;
}

#copyright {
    font-size: small;
}

.Heading {
    background-color: indianred;
    color: white;
    padding: 3% 15%;
}

.content-style {
    padding: 3% 10%;
    font-weight: normal;
    line-height: 2;
}

.service {
    padding: 3% 10%;
    font-weight: bold;
    color: indianred;
}

.line-pad {
    padding: 3% 0;
}
.floater-r {
    float: right;
    margin-left: 10%;
}

.floater-l {
    float: left;
    margin-right: 10%;
}

.service-block {
    padding: 30px;
}

.social-icon {
    margin: 20px 10px;
}

.portfolio {
    width: 18rem;
    margin: 10px;
}

.img-team01 {
    width: 500px;
    padding: 5px;
}

.img-pad {
    padding: 5%;
    width: 100%;
}

.text-fix {
    margin: 60px 0;
    line-height: 2;
}

.suc-row1 {
    padding: 7% 3%;
    font-weight: bold;
}

body {
    background-color: aliceblue;
    text-align: center;
    font-family: Montserrat;
    margin: 0;
}

h1{
    font-weight: bold;
    line-height: 1.5;
}

ul {
    text-align: left;
}